*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
app.*.symbols
app.*.map.json
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
